body {
  font-family: 'Arial', sans-serif;
  background-color: #494848;
  color:white;
  margin: 0;
  padding: 0;
}

h1 {
  color: #dbdbdb;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}
